@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Global variables for light mode */
:root {
  --background: #f0f0f0;
  --foreground: #181c14;
  --primary-color: #11998e;
  --secondary-color: #38ef7d;
  --text-color: black;
}

/* When dark mode is enabled (via the .dark class on <html>) */
.dark {
  --background: #181c14;
  --foreground: #ffffff;
  --primary-color: #11998e;
  --secondary-color: #38ef7d;
  --text-color: white;
}

/* Apply the variables to body */
body {
  background-color: var(--background);
  color: var(--text-color);
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
